* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color:rgba(0, 0, 0, 0.596);
}

.container-m{
    padding: 0 10px;
}

.topHeader {
    background-color: rgba(79, 82, 82, 0.918);
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 34px;
    color: whitesmoke;
    
}


.cityWeather {
    
    border: 1px solid rgb(250, 248, 248);
    padding: 20px ;
    border-radius: 1%;
    margin-top: 20px;
}

.cityForecast{
    margin-top: 20px;

}

.eachDay{
    border-radius: 3%;
    border: blue;
    background-color: rgb(11, 102, 207);
    color: rgba(226, 218, 218, 0.993);
    padding: 10px;
}

.cities{
    background-color: rgb(241, 233, 233);
    padding: 10px ;
}

.searchCity{
    margin-bottom: 20px;
}

.weatherIcon {
    vertical-align: middle ;
}

/* UV Index color based on classes assigned */
.lowUV {
    background-color: green;
}

.moderateUV {
    background-color: yellow;
}

.highUV {
    background-color: orange;
}

.veryHighUV {
    background-color:red;
}

.extremeUV {
    background-color:purple;
}

.uvindex {
    display: inline;
    padding: 7px;
    border-radius: 20%;
    color: white;
}

#forecastHeading {
    font-weight: bold;
}